get_prop(surfaceflinger, afbc_prop)
get_prop(surfaceflinger, gralloc_prop)

get_prop(surfaceflinger, rtk_prop)
allow surfaceflinger gralloc_prop:file read;
allow surfaceflinger afbc_prop:file read;
allow surfaceflinger device:chr_file { ioctl };
allow surfaceflinger sw_sync_device:chr_file rw_file_perms;
allow surfaceflinger debugfs_mali:dir r_dir_perms;

