get_prop(untrusted_app, vendor_security_patch_level_prop)
get_prop(untrusted_app, netflix_prop)
get_prop(untrusted_app, rtk_prop)
get_prop(untrusted_app, gralloc_prop)
allow untrusted_app sideband:fd use;

allow untrusted_app debugfs_mali:dir r_dir_perms;
allow untrusted_app ufsd:file { getattr open read };
allow untrusted_app ufsd:dir { open read };
