allow untrusted_app_25 sideband:fd use;
get_prop(untrusted_app_25, netflix_prop)
allow untrusted_app_25 { cifs sysfs debugfs_mali }:dir r_dir_perms;
get_prop(untrusted_app_25, gralloc_prop)
allow untrusted_app_25 ufsd:file { getattr open read };
allow untrusted_app_25 ufsd:dir { open read };
