on early-init
    symlink /vendor/etc/fstab.${ro.hardware}.sata /fstab.${ro.hardware}
    symlink /sys.part.rc.sata /sys.part.rc

on init

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot

on boot

