on early-init
    symlink /fstab.${ro.hardware}.emmc /fstab.${ro.hardware}
    symlink /sys.part.rc.emmc /sys.part.rc

on init

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot

on boot

