allow hal_power_default debugfs_mali:dir search;
allow hal_power_default debugfs_mali:file { open read write };
allow hal_power_default sysfs:file { getattr open read write };
allow hal_power_default uio_device:chr_file { open read write };
allow hal_power_default rtk_prop:file { getattr open read };
allow hal_power_default sysfs_devices_system_cpu:file write;
