type rtkhwmbinder, domain;
type rtkhwmbinder_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(rtkhwmbinder)

add_service(rtkhwmbinder, hwmbinder_service)
vndbinder_use(rtkhwmbinder)
#allow rtkhwmbinder self:capability dac_override;
allow rtkhwmbinder ion_device:chr_file { open read ioctl };
allow rtkhwmbinder mcp_device:chr_file { ioctl open read write };
allow rtkhwmbinder hdmiutil_data_file:file { getattr open read };
allow rtkhwmbinder hdmiutil_data_file:dir search;

