get_prop(untrusted_app, vendor_security_patch_level_prop)
get_prop(untrusted_app, netflix_prop)
allow untrusted_app sideband:fd use;
allow untrusted_app debugfs_mali:dir r_dir_perms;
allow untrusted_app default_android_service:service_manager find;

#============= untrusted_app ==============
allow untrusted_app ufsd:file r_file_perms;
allow untrusted_app ufsd:dir r_dir_perms;
allow untrusted_app vendor_file:file r_file_perms;
allow untrusted_app unlabeled:dir r_dir_perms;
allow untrusted_app unlabeled:file r_file_perms;
